.invalid {
  font-family:    Helvetica;
  font-size:      40px;
  font-weight:    bold;
  color: red;
}
.valid {
  font-family:    Arial;
  font-size:      40px;
  font-weight:    bold;
  color: green;
}




